/* stylelint-disable selector-class-pattern */
.dbb-drawback {
  padding: 20px 0;
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .dbb-drawback {
    flex-direction: column-reverse;
    padding: 10px 0 20px;
  }
}

.dbb-drawback__textarea {
  display: flex;
  flex-direction: column;
  flex: 1 0 50%;
}

.dbb-drawback__result {
  display: flex;
  flex: 1 0 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .dbb-drawback__result {
    padding-bottom: 20px;
  }
}

.dbb-drawback__sentence {
  color: #fff;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  font-size: 1.5em;
  font-style: italic;
  transform: rotate(-4deg);
  padding: 16px 10px 20px;
  text-align: center;
  margin-bottom: 20px;
  min-height: 70px;
}

@media screen and (max-width: 390px) {
  .dbb-drawback__sentence {
    font-size: 1.3em !important;
    margin-bottom: 6px;
  }
}

.dbb-textarea {
  width: calc(100% - 45px);
  height: 150px;
  border-radius: 7px;
  resize: none;
  outline: none;
  padding: 20px 15px;
  border: 1px solid rgb(0 255 33 / 12%);
  background: rgb(0 0 0 / 53%);
  color: #e0e0e0;
  font-size: 0.85em;
  font-family: Roboto, sans-serif;
  font-style: italic;
  line-height: 1.4em;
}

@media screen and (max-width: 480px) {
  .dbb-textarea {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 320px) {
  .dbb-textarea {
    font-size: 0.75em;
  }
}

.dbb-textarea__label {
  color: #adadad;
  font-family: Roboto, sans-serif;
  font-size: 0.8em;
  font-style: italic;
  padding-top: 3px;
}
