/* stylelint-disable max-line-length */
/* stylelint-disable selector-class-pattern */
.dbb-summary-title {
  display: flex;
  justify-content: space-between;
}

.dbb-summary__draft {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.dbb-summary__draft-text {
  color: #adadad;
  font-family: Roboto, sans-serif;
  font-size: 0.8em;
  font-style: italic;
  padding-bottom: 3px;
}

.dbb-summary-player {
  font-size: 1.3em;
  color: #e79d0d;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  font-style: italic;
  margin: 0;
  align-self: flex-end;
}

@media screen and (max-width: 480px) {
  .dbb-summary-player {
    font-size: 1em;
    padding: 0 0 5px;
  }
}

.dbb-summary-player__draft {
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  color: #d0c31d;
}

@media screen and (max-width: 480px) {
  .dbb-summary-player__draft {
    font-size: 1em;
    padding: 0 0 5px;
  }
}

.dbb-summary-player--pulse {
  animation: pulse-text 2s infinite;
}

.dbb-summary {
  display: flex;
  flex-flow: column wrap;
  padding: 20px 0;
  gap: 10px;
}

.dbb-summary__container {
  display: flex;
  flex-flow: column wrap;
  gap: 4px;
}

@media screen and (max-width: 480px) {
  .dbb-summary {
    padding: 15px 0;
  }
}

@media screen and (max-width: 480px) {
  .dbb-summary__container {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}

.dbb-summary__items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media screen and (max-width: 480px) {
  .dbb-summary__items {
    gap: 5px;
  }
}

.dbb-summary__item {
  --border-position: 3px;

  width: 65px;
  height: 65px;
  background: linear-gradient(180deg, #44403f 0%, #55514f 50%, #44403f 100%);
  border-radius: 5px;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 480px) {
  .dbb-summary__item {
    --border-position: 2px;

    width: 53px;
    height: 53px;
  }
}

@media screen and (max-width: 320px) {
  .dbb-summary__item {
    width: 47px;
    height: 47px;
    margin: 0 4px 5px 0;
  }
}

.dbb-summary__item--disabled .dbb-summary__number {
  opacity: 0;
}

.dbb-summary__item--disabled::before {
  content: "";
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-image: url("/images/dbz-Z.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 50%;
  opacity: 0.2;
  top: 50%;
  transform: translateY(-50%);
}

.dbb-summary__item::after {
  content: "";
  position: absolute;
  width: auto;
  height: auto;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(255 255 255 / 41%);
  top: var(--border-position);
  left: var(--border-position);
  right: var(--border-position);
  bottom: var(--border-position);
  border-radius: 5px;
  z-index: 0;
}

@media screen and (max-width: 480px) {
  .dbb-summary__item::after {
    border-width: 2px;
  }
}

.dbb-summary__item--pulse {
  animation: pulse 2s infinite;
}

.dbb-summary__item--pulse-grey {
  animation: pulse-grey 2s infinite;
}

.dbb-summary__item--no-mr {
  margin-right: 0;
}

.dbb-summary__clickable {
  cursor: pointer;
  border-radius: 5px;
  user-select: none;
  padding: 0 5px;
  z-index: 3;
}

.dbb-summary__clickable:hover {
  background: rgb(0 0 0 / 20%);
}

.dbb-summary__number {
  color: #e0e0e0;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 0.99;
  font-style: italic;
  font-family: Roboto, sans-serif;
}

@media screen and (max-width: 480px) {
  .dbb-summary__number {
    font-size: 1.15em;
  }
}

.dbb-summary__cat {
  font-size: 0.5em;
  padding-right: 4px;
}

@keyframes pulse-text {
  0% {
    text-shadow: -2px -2px 0 rgb(231 157 13 / 10%), -2px -1px 0 rgb(231 157 13 / 10%), -2px 0 0 rgb(231 157 13 / 10%), -2px 1px 0 rgb(231 157 13 / 10%), -2px 2px 0 rgb(231 157 13 / 10%), -1px -2px 0 rgb(231 157 13 / 10%), -1px -1px 0 rgb(231 157 13 / 10%), -1px 0 0 rgb(231 157 13 / 10%), -1px 1px 0 rgb(231 157 13 / 10%), -1px 2px 0 rgb(231 157 13 / 10%), 0 -2px 0 rgb(231 157 13 / 10%), 0 -1px 0 rgb(231 157 13 / 10%), 0 0 0 rgb(231 157 13 / 10%), 0 1px 0 rgb(231 157 13 / 10%), 0 2px 0 rgb(231 157 13 / 10%), 1px -2px 0 rgb(231 157 13 / 10%), 1px -1px 0 rgb(231 157 13 / 10%), 1px 0 0 rgb(231 157 13 / 10%), 1px 1px 0 rgb(231 157 13 / 10%), 1px 2px 0 rgb(231 157 13 / 10%), 2px -2px 0 rgb(231 157 13 / 10%), 2px -1px 0 rgb(231 157 13 / 10%), 2px 0 0 rgb(231 157 13 / 10%), 2px 1px 0 rgb(231 157 13 / 10%), 2px 2px 0 rgb(231 157 13 / 10%);
  }

  80% {
    text-shadow: -2px -2px 0 rgb(0 0 0 / 90%), -2px -1px 0 rgb(0 0 0 / 90%), -2px 0 0 rgb(0 0 0 / 90%), -2px 1px 0 rgb(0 0 0 / 90%), -2px 2px 0 rgb(0 0 0 / 90%), -1px -2px 0 rgb(0 0 0 / 90%), -1px -1px 0 rgb(0 0 0 / 90%), -1px 0 0 rgb(0 0 0 / 90%), -1px 1px 0 rgb(0 0 0 / 90%), -1px 2px 0 rgb(0 0 0 / 90%), 0 -2px 0 rgb(0 0 0 / 90%), 0 -1px 0 rgb(0 0 0 / 90%), 0 0 0 rgb(0 0 0 / 90%), 0 1px 0 rgb(0 0 0 / 90%), 0 2px 0 rgb(0 0 0 / 90%), 1px -2px 0 rgb(0 0 0 / 90%), 1px -1px 0 rgb(0 0 0 / 90%), 1px 0 0 rgb(0 0 0 / 90%), 1px 1px 0 rgb(0 0 0 / 90%), 1px 2px 0 rgb(0 0 0 / 90%), 2px -2px 0 rgb(0 0 0 / 90%), 2px -1px 0 rgb(0 0 0 / 90%), 2px 0 0 rgb(0 0 0 / 90%), 2px 1px 0 rgb(0 0 0 / 90%), 2px 2px 0 rgb(0 0 0 / 90%);
  }

  100% {
    text-shadow: -2px -2px 0 rgb(0 0 0 / 90%), -2px -1px 0 rgb(0 0 0 / 90%), -2px 0 0 rgb(0 0 0 / 90%), -2px 1px 0 rgb(0 0 0 / 90%), -2px 2px 0 rgb(0 0 0 / 90%), -1px -2px 0 rgb(0 0 0 / 90%), -1px -1px 0 rgb(0 0 0 / 90%), -1px 0 0 rgb(0 0 0 / 90%), -1px 1px 0 rgb(0 0 0 / 90%), -1px 2px 0 rgb(0 0 0 / 90%), 0 -2px 0 rgb(0 0 0 / 90%), 0 -1px 0 rgb(0 0 0 / 90%), 0 0 0 rgb(0 0 0 / 90%), 0 1px 0 rgb(0 0 0 / 90%), 0 2px 0 rgb(0 0 0 / 90%), 1px -2px 0 rgb(0 0 0 / 90%), 1px -1px 0 rgb(0 0 0 / 90%), 1px 0 0 rgb(0 0 0 / 90%), 1px 1px 0 rgb(0 0 0 / 90%), 1px 2px 0 rgb(0 0 0 / 90%), 2px -2px 0 rgb(0 0 0 / 90%), 2px -1px 0 rgb(0 0 0 / 90%), 2px 0 0 rgb(0 0 0 / 90%), 2px 1px 0 rgb(0 0 0 / 90%), 2px 2px 0 rgb(0 0 0 / 90%);
  }
}

@keyframes pulse-grey {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 15%);
  }

  80% {
    box-shadow: 0 0 0 10px rgb(204 169 44 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(204 169 44 / 0%);
  }
}
